@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@using System.Data
@model DataTable
<nav class="navbar bg-body-tertiary">
    <div class="table-header d-flex">
        <div class="add-button mr-auto">
            <a asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                <input type="button" class="btn btn-success" value="Add New Record" />
            </a>
        </div>
        <div class="search-field col-xl-4 ms-lg-auto d-flex">
            <div class="me-3">
                <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div>
                <a asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryByName">
                    <input type="button" class="btn btn-outline-success" value="Search" />
                </a>
            </div>
        </div>
    </div>
</nav>

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th scope="col">CountryId</th>
            <th scope="col">CountryName</th>
            <th scope="col">Country code</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <th scope="row">@dr["CountryID"]</th>
                <td>@dr["CountryName"]</td>
                <td>@dr["CountryCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString()</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString()</td>
                <td class="justify-content-center">
                    <div class="d-flex">
                        <div class="me-2">
                            <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_Country_Delete">
                                <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                            </form>
                        </div>
                        <div class="ms-2">
                            <form asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                                <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                <button type="submit" class="btn btn-warning" value="Edit">Edit</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>