@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@using System.Data
@model DataTable
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button type="button" class="btn btn-success">Add Country</button>
        <a asp-area="LOC_Country" asp-action="Add_Country" asp-controller="LOC_Country">Add</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th scope="col">CountryId</th>
            <th scope="col">CountryName</th>
            <th scope="col">Country code</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <th scope="row">@dr["CountryId"]</th>
                <td>@dr["CountryName"]</td>
                <td>@dr["CountryCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString()</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString()</td>
                <td class="justify-content-center">
                    <div class="d-flex">
                        <div class="me-2">
                            <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_Country_Delete">
                                <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                            </form>
                        </div>
                        <div class="ms-2">
                            <form asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                                <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                                <button type="submit" class="btn btn-warning" value="Edit">Edit</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>