@{
    ViewData["Title"] = "City";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using System.Data
@model DataTable

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button type="button" class="btn btn-success">Add City</button>
        <a asp-area="LOC_City" asp-action="Add_City" asp-controller="LOC_City">Add</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">City Name</th>
            <th scope="col">City Code</th>
            <th scope="col">State Name</th>
            <th scope="col">Country Name</th>
            <th scope="col">CreationDate</th>
            <th scope="col">Modified</th>
           
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <th scope="row">@dr["CityId"]</th>
                <td>@dr["CityName"]</td>
                <td>@dr["CityCode"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["CountryName"]</td>
                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                <td class="justify-content-center">
                    <div class="d-flex">
                        <div class="me-2">
                            <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="City_Delete">
                                <input type="hidden" value="@Convert.ToInt32(dr["CityId"])" name="CityId" />
                                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                            </form>
                        </div>
                        <div class="ms-2">
                            <form asp-area="LOC_City" asp-controller="LOC_City" asp-action="Add_City">
                                <input type="hidden" value="@Convert.ToInt32(dr["CityId"])" name="CityId" />
                                <button type="submit" class="btn btn-warning" value="Edit">Edit</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            
        }
       
       
    </tbody>
</table>