@{
    ViewData["Title"] = "State";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button type="button" class="btn btn-success">Add State</button>
        <a asp-area="LOC_State" asp-action="Add_State" asp-controller="LOC_State">Add</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
@using System.Data
@model DataTable
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">StateName</th>
            <th scope="col">State code</th>
            <th scope="col">Country Name</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            @*<th scope="col">Country Code</th>*@
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["StateID"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["StateCode"]</td>
                <td>@dr["CountryName"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                @*<td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                        <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID" />
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                        <a class="btn btn-info btn-xs" asp-controller="LOC_Country" asp-action="LOC_CountryAdd" asp-route-countryid="@Convert.ToInt32(dr["CountryID"])">edit</a>
                    </form>
                </td>*@
                <td class="justify-content-center">
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
        
    </tbody>
</table>